@import "tailwindcss";

@theme {
  /* === Gruvbox Light Mode Theme === */

  /* Backgrounds */
  --color-background: oklch(0.98 0.02 100); /* #fbf1c7 */
  --color-surface: oklch(0.95 0.025 100); /* #f2e5bc smaller container's bg */
  --color-border: oklch(0.85 0.02 80); /* #d5c4a1 */

  /* Foregrounds / Text */
  --color-foreground: oklch(0.3 0.02 30); /* #3c3836 main text-color */
  --color-muted: oklch(0.6 0.02 40); /* #928374 placeholders */

  /* Accents */
  --color-primary: oklch(0.75 0.15 60); /* #fe8019 cta */
  --color-secondary: oklch(0.85 0.13 85); /* #fabd2f complement primary */

  /* Status Colors */
  --color-red: oklch(0.6 0.2 30); /* #cc241d errors */
  --color-green: oklch(0.6 0.2 120); /* #98971a success */
  --color-yellow: oklch(0.7 0.18 95); /* #d79921 warnings */
  --color-blue: oklch(0.55 0.18 220); /* #458588 informational */
  --color-purple: oklch(
    0.55 0.18 310
  ); /* #b16286 alternate accents - blockquotes*/
  --color-aqua: oklch(0.55 0.16 190); /* #689d6a alternative highlights */
  --color-orange: oklch(0.7 0.2 60); /* #d65d0e  hover, important icons */

  /* Fonts */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif; /* main font */
  --font-serif: "IBM Plex Serif", Georgia, serif; /* headings */
  --font-mono: "Fira Code", ui-monospace, SFMono-Regular, monospace; /* dev focused ui's */
}
